.conteiner{
    width: 450px;
    margin: 0 auto;
}
.body{
    margin: 0;
    background-color: rgb(223, 222, 222);
}
a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}

@media (max-width: 480px) {
    .conteiner{
        width: 350px;
    }
}
@media (min-width: 650px) {
    .conteiner{
        width: 550px;
    }
}
@media (min-width: 900px) {
    .conteiner{
        width: 800px;
    }
}@media (min-width: 1200px) {
    .conteiner{
        width: 1050px;
    }
}
@media (min-width: 1500px) {
    .conteiner{
        width: 1350px;
    }
}
